<div class="row marleft">
    <div class="col m12 s12" style="margin-top:40px">
        <div class="col m12 s12 mat-elevation-z8" style="border-radius:4px;  background: linear-gradient(60deg,#ab47bc,#512f6f); padding:10px">
            <h5 class="white-text">Material Design Icons</h5>
            <h6 class="white-text">Handcrafted by our friends from Google</h6>
          </div>
          <div class="row center" style="margin-top:40px">
          <iframe src="https://material.io/tools/icons/?style=baseline" width="90%" height="600"></iframe>
        </div>
          </div>
          </div>